[user]
    name = Colin Campbell
    email = colin@emergesource.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global   
	pager = delta
[color]
    ui = true
[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    pr = pull --rebase
    ll = log --oneline --abbrev-commit --all --graph --decorate
    l = log --oneline --decorate
    up = "!git remote update -p; git merge --ff-only @{u}"

[pull]
    rebase = true
[delta]
	navigate = true
	dark = true
	side-by-side = false
